<div id="banner" class="container"> <img src="./static/images/header-photo.jpg" width="1200" height="400" alt="" />
</div>
<div id="wrapper">
    <div id="three-column" class="container">
        <header>
            <h2>Pellentesque tristique ante ut risus</h2>
        </header>

        <div class="tbox1">
            <div class="box-style box-style01">
                <div class="content"> <a href="#" class="image image-full"><img src="./static/images/img01.jpg"
                            alt=""></a>
                    <h2>Fusce ultrices fringilla</h2>
                    <p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus,
                        sagittis convallis, rutrum id, elementum congue, nibh. </p>
                    <a href="#" class="button-style">Learn More</a>
                </div>
            </div>
        </div>
        <div class="tbox2">
            <div class="box-style box-style02">
                <div class="content"> <a href="#" class="image image-full"><img src="./static/images/img02.jpg"
                            alt=""></a>
                    <h2>Mauris vulputate dolor</h2>
                    <p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus,
                        sagittis convallis, rutrum id, elementum congue, nibh. </p>
                    <a href="#" class="button-style">Learn More</a>
                </div>
            </div>
        </div>
        <div class="tbox3">
            <div class="box-style box-style03">
                <div class="content"> <a href="#" class="image image-full"><img src="./static/images/img03.jpg"
                            alt=""></a>
                    <h2>Nulla luctus eleifend </h2>
                    <p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus,
                        sagittis convallis, rutrum id, elementum congue, nibh.</p>
                    <a href="#" class="button-style">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>