<div id="wrapper" class="user">
    <h2>Login</h2>
    <form class="free" action="/login" method="POST">
        <div class="free-content">
            <label for="username">Username</label><br>
            <input type="text" class="form-control" placeholder="Username" name="username" value="">
        </div>
        <div class="free-content">
            <label for="password">Password</label><br>
            <input type="password" class="form-control" placeholder="Password" name="password" value="">
        </div>

        <button class="button-style" type="submit" class="btn btn-primary">Login</button>
    </form>

</div>