/** WRAPPER */

#wrapper {
	margin-top: 30px;
	padding-bottom: 50px;
	background: #FFF;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Three Column Content */

#three-column {
	overflow: hidden;
	padding-top: 30px;
}

#three-column header {
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-size: 1.5em;
}

#three-column .tbox1 h2,
#three-column .tbox2 h2,
#three-column .tbox3 h2 {
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #515151;
}

#three-column .tbox1 {

	float: left;
	width: 384px;
	margin-right: 24px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

#three-column .tbox3 {
	float: right;
	width: 384px;
}