<div id="header" class="container">
    <div id="logo">
        <h1><a href="#"><span>Cook</span>Book</a></h1>
    </div>
    <div id="menu">
        <ul>
            {{#if isLoggedIn}}
            <li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
            <li><a href="/">Welcome, {{username}}</a></li>
            <li><a href="/create" accesskey="4" title="">Create</a></li>
            <li><a href="/logout" accesskey="4" title="">Logout</a></li>
            {{else}}
            <li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
            <li><a href="/login" accesskey="3" title="">Login</a></li>
            <li><a href="/register" accesskey="2" title="">Register</a></li>
            {{/if}}
        </ul>
    </div>
</div>

{{#if message}}
{{>notification}}
{{/if}}