<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cook Book</title>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <a href="" class="navbar-brand">ng-cooks</a>
		</div>
	  </nav>
	
	  <div class="container">
		<app-cooks></app-cooks>
	  </div>
	
</body>
</html>

<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet"
    type="text/css">
</head>

<body>
  <div id="wrapper-bg">
    <div id="wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><a href="#"><span>COOK</span>BOOK</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
            <li><a href="/login" accesskey="3" title="">Login</a></li>
            <li><a href="/register" accesskey="2" title="">Register</a></li>

          </ul>
        </div>
      </div>
      <div id="banner" class="container"> <img src="./../assets/img1.jpg" width="1200" height="400" alt="" /> </div>
      <div id="three-column" class="container">
        <header>
          <h2>Топ 3 най-харесвани рецепти</h2>
        </header>

        <div class="tbox1">
          <div class="box-style box-style01">
            <div class="content"> <a href="#" class="image image-full"><img src="./../assets/img01.jpg" alt=""></a>
              <h2>Кавърма</h2>
              <p>700 гр. обезкостена свинска плешка, 5-6 средно големи глави кромид лук или 5-6 стръка праз, две зелени
                и две червени чушки, (когато е с кромид лук може да се сложат и гъби), два домата, черен пипер – млян и
                на зърна, една чаена лъжичка червен пипер, сол, олио.
                Месото се нарязва на хапки и се пържи/задушава в голяма тенджера под капак. Като омекне, се добавят нарязания по на едро лук и нарязаните чушки. След като омекнат, се настъргват вътре доматите без люспите. Докато ври, по някое време се добавят солта, черният пипер – смлян и на зърна, и накрая и червеният пипер. Оставя се малко сос, когато се сгъсти накрая. Когато се прави на фурна в гювеч, всичко се нарязва и се слага едновременно да се пече.
              </p>
              <a href="#" class="button-style">Детайли</a>
            </div>
          </div>
        </div>
        <div class="tbox2">
          <div class="box-style box-style02">
            <div class="content"> <a href="#" class="image image-full"><img src="./../assets/img02.jpg" alt=""></a>
              <h2>Агнешко с патладжани</h2>
              <p>Агнешкото се изпича и се нарязва на ситни парченца. Патладжанът също се изпича и се нарязва на ситно.
                Смесват се, като се добавя пресован чесън, нарязан на ситно пресен босилек и къри, куркума и розмарин.
                Може да се добави и от мазнината, в която се е пекло...
                агнешкото, или зехтин. Също и цедено кисело мляко, но то малко убива вкуса на агнешкото и патладжана. Същото може да се приготви и с пържене на месото и патладжана.
              </p>
              <a href="#" class="button-style">Детайли</a>
            </div>
          </div>
        </div>
        <div class="tbox3">
          <div class="box-style box-style03">
            <div class="content"> <a href="#" class="image image-full"><img src="./../assets/img03.jpg" alt=""></a>
              <h2>Пълнени чушки с печен патладжан</h2>
              <p>6 малки патладжана, 6 червени чушки, 125 гр. сирене бри, 125 гр. крема сирене, половин кофичка
                заквасена сметана, чесън, сол, олио. Патладжаните са изпичат на шайби.
                Нарязват се и се смесват със ситно нарязаното бри, кремата, сметаната и чесъна. С плънката се пълнят чушките и се пекат във фурната.
              </p>
              <a href="#" class="button-style">Детайли</a>
            </div>
          </div>
        </div>
      </div>
      <div id="page">
        <div id="content"></div>
        <div id="sidebar"></div>
      </div>
    </div>

    
	<div id="footer-content" class="container">
		<div id="fbox1">
			<h2>Recent Updates</h2>
			<ul class="style3">
				<li class="first">
					<p class="date"><a href="#">April<b>20</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Mauris tempus nibh sodales adipiscing dolore.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>18</b></a></p>
					<h3>Sagittis diam dolor sit amet</h3>
					<p><a href="#">Duis arcu tortor fringilla sed  sed magna.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>15</b></a></p>
					<h3>Adipiscing sed consequat</h3>
					<p><a href="#">Pharetra ac velit sed in volutpat nisl mauris vel.</a></p>
				</li>
				<li>
			</ul>
		</div>
		<div id="fbox2">
			<h2>About</h2>
			<p>This is<strong> Endearing Green</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. This free template is released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
			<a href="#" class="button-style">Ipsum feugiat consequat</a> </div>
		<div id="fbox3">
			<h2>Contact</h2>
			<p>Nam erat a posuere laoreet eget nibh sodales adipiscing. Phasellus tristique dui.</p>
			<ul class="style5">
				<li class="first"><span class="address">Address</span> <span class="address-01">1234 Somewhere Road #4285 <br />
					Nashville, TN 00000</span> </li>
				<li> <span class="mail">Mail</span> <span class="mail-01"><a href="#">someone@untitled.tld</a></span> </li>
				<li> <span class="phone">Phone</span> <span class="phone-01">(000) 000-0000</span> </li>
			</ul>
		</div>
	</div>



  <div id="footer">
    <p>&copy; Design by <a href="" rel="nofollow">idinae</a>. Photos by <a href="http://subektiv.com/">emmmo</a>.</p>
  </div>
	-->