<div id="header" class="container">
    <div id="logo">
      <h1><a href="#"><span>Cook</span>Book</a></h1>
    </div>
    <div id="menu">
      <ul>

        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Homepage</a></li>
        <!-- <li><a (click)="onSelect('login')">Login</a></li>
        <li><a (click)="onSelect('register')">Register</a></li>
        <li><a (click)="onSelect('create')">Create</a></li> -->
        
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/register">Register</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/create">Create</a></li>

      </ul>
    </div>
  </div>