<p 
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}">
  The {{'Server'}} with Id {{serverId}} is {{getServerStatus()}}
</p>

<label for="">Server Name</label>
<input type="text" class="form-control" (input)="onUpdatedServerName($event)">

<label for="">Two-way data binging</label>
<input type="text" class="form-control" [(ngModel)]="serverName">

<p *ngFor="let server of servers">{{ serverName }}</p>

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onCreateServer()">Add Server</button>

<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>


<label for="">Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<div *ngIf="username">
<p>Hello, {{ username }}!</p>
</div>
<button 
    class="btn btn-primary" 
    [disabled]="username === ''"
    (click)="onReset()"
    >Reset User</button>

<p [ngStyle]="getColor()"></p>

<p *ngFor="let server of servers"></p>